<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header file</title>
</head>
<body>
    <nav style="margin-left : 10px;background-color: #c4193582;">
         <a href="" style="margin-right: 10px;"> Contact</a>
         <a href="" style="margin-right: 10px;">TODOs</a>
         <a href="" style="margin-right: 10px;">Groupos</a>
         <a href="" style="margin-right: 10px;">About us</a>
         <a href="" style="margin-right: 10px;">department</a>

    </nav>

    <nav>
       
    </nav>
</body>
</html>